
#root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #f0f0f0;
}


.episode-card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.episode-card img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}


.episode-card p {
  font-size: 0.9rem;
  text-align: left;
  margin: 0;
}


.episode-card h1 {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  width: 100%;
}


